<h4>Log in / <a href="/auth/signup">Sign up</a></h4>

<div class="well">

  <form class="" method="POST" action="/auth/login">

    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" required/>
    </div>

    <input type="submit" class="btn btn-success blue" />

  </form>

</div>
