<div class="row">
  <h5>Log in / <a href="/auth/signup">Sign up</a></h5>
</div>

<div class="row">

  <form class="" method="POST" action="/auth/login">

    <div class="input-field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="validate" required/>
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password"  class="validate" required/>
    </div>

    <input type="submit" class="btn btn-success blue" />

  </form>

</div>
