<h2>Sign up</h2>

<div class="well">

  <form class="" method="POST" action="/auth/signup">

    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" class="form-control" placeholder="8-99 characters" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" class="form-control" type="email" placeholder="user@email.com" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" class="form-control" type="password" placeholder="8-99 characters" required />
    </div>
    <div class="form-group">
      <label for="zip">Home ZIP Code (U.S. only)</label>
      <input name="zip" class="form-control" placeholder="Ex: 98683" type="number" required />
    </div>
    <div class="form-group">
      <label for="historystart">Historical Start (MMDD)</label>
      <input name="historystart" class="form-control" type="number" placeholder="0701 = July 1" />
    </div>
    <div class="form-group">
      <label for="historyend">Historical End (MMDD)</label>
      <input name="historyend" class="form-control" placeholder="0801 = August 1" />
    </div>

    <input type="submit" class="btn btn-success" />

  </form>

</div>
