<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Travel Easy</h5>
          <p class="grey-text text-lighten-1">Eliminate multiple tabs - find and compare weather and flights for multiple cities all in one place</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Key Technologies</h5>
          <p class="language-icons grey-text text-lighten-1">
            <i class="devicon-javascript-plain "></i>
            <i class="devicon-nodejs-plain "></i>
            <i class="devicon-postgresql-plain "></i>
            <i class="devicon-html5-plain "></i>
            <i class="devicon-css3-plain "></i> <br />
            [express, sequelize, ejs, async, passport, bcrypt]
          </p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="blue-text text-lighten-3" href="https://developers.google.com/qpx-express/">Google Flights API</a></li>
            <li><a class="blue-text text-lighten-3" href="https://www.wunderground.com/weather/api/">Weather Underground API</a></li>
            <li><a class="blue-text text-lighten-3" href="http://cloudinary.com/documentation/admin_api">Cloudinary API</a></li>
            <li><a class="blue-text text-lighten-3" href="https://www.npmjs.com/">npmjs.org</a></li>
            <li><a class="blue-text text-lighten-3" href="https://freegeoip.net/">freegeoip.net API</a></li>
            <li><a class="blue-text text-lighten-3" href="http://materializecss.com/">Materialize</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container valign-wrapper">
      <span class="white-text valign">© 2017 Tommy Lim</span>
      <a class="orange-text text-lighten-3 valign right" href="https://github.com/Tommy-Lim/travel-planner"><i class="fa fa-2x right fa-github-square" aria-hidden="true"></i></a>
      <a class="orange-text text-lighten-3 valign right" href="https://www.linkedin.com/in/tommy-lim"><i class="fa fa-2x right fa-linkedin-square" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
