<h1>Search</h1>

<form method="POST" action="/cities/search">
  <div class="form-group">
    <label for="city-search">Search for city</label>
    <input class="form-control" name="search"/>
  </div>
  <button type="submit" class="btn btn-success">Search</button>

</form>

<form method="GET" action="/cities/search">
  <div class="form-group">
    <label for="city-search">Search for city</label>
    <input class="form-control" name="search"/>
  </div>
  <button type="submit" class="btn btn-success">Search</button>

</form>
