<br />

<nav>
  <div class="nav-wrapper light-blue lighten-2">
    <form method="GET" action="/cities/search">
      <div class="input-field">
        <input type="search" name="search" required placeholder="Search cities">
        <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
      </div>
    </form>
  </div>
</nav>

<br />
