<div class="container home-container">
  <span> <i class="fa fa-search" aria-hidden="true"></i> <a href="cities/">Search cities</a> to view forecasts and historical weather. </span>
  <br />
  <span> <i class="fa fa-plane" aria-hidden="true"></i> Check out <a href="/flights">flights</a>.</span>
  <br />
  <span> <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/auth/signup">Sign up</a> or <a href="auth/login">log in</a> to save home and destination cities.</span>
</div>
