<div class="container home-container">
  <div class="row">
    <div class="col s2">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col s10">
      <a href="cities/">Search cities</a> to view forecasts and historical weather.
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col s10">
      Check out <a href="/flights">flights</a>.
    </div>
  </div>
  <div class="row last-row">
    <div class="col s2">
      <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col s10">
      <a href="/auth/signup">Sign up</a> or <a href="auth/login">log in</a> to save home and destination cities.
    </div>
  </div>
</div>
