<% include partials/search %>

<div class="container home-container">
  <h5><i class="fa fa-search" aria-hidden="true"></i> <a href="/cities/">Search</a> cities to view forecasts and historical weather</h5>
  <h5><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/auth/signup">Sign up</a> or <a href="auth/login">log in</a> to save home and destination cities</h5>
  <h5><i class="fa fa-plane" aria-hidden="true"></i> Compare <a href="cities/forecast/98101.1.99999=Seattle,%20Washington">weather</a> and flights</h5>
</div>
