<div class="container home-container">
  <span> <i class="fa fa-search" aria-hidden="true"></i> Search cities to view <a href="cities/forecast/98101.1.99999=Seattle,%20Washington">forecasts</a> and <a href="cities/historical/98101.1.99999=Seattle,%20Washington">historical</a> weather</span>
  <br />
  <span> <i class="fa fa-plane" aria-hidden="true"></i> Compare <a href="cities/forecast/98101.1.99999=Seattle,%20Washington">weather</a> and <a href="/flights">flights</a></span>
  <br />
  <span> <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/auth/signup">Sign up</a> or <a href="auth/login">log in</a> to save home and destination cities</span>
</div>
