<h2>Travel Easy</h2>
<div class="container home-container">
  <h4><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/cities/">Search</a> cities to view forecasts and historical weather</h4>
  <h4><i class="fa fa-plane" aria-hidden="true"></i> <a href="/auth/signup">Sign up</a> or <a href="auth/login">log in</a> to save home and destination cities!</h4>
</div>
<div class="carousel">
    <a class="carousel-item" href="/cities/search/los+angeles"><img src="http://i.imgur.com/LbaEzjq.jpg"></a>
    <a class="carousel-item" href="/cities/search/seattle"><img src="http://i.imgur.com/aSjWU6T.jpg"></a>
    <a class="carousel-item" href="/cities/search/new+york"><img src="http://i.imgur.com/QwvWhJ9.jpg"></a>
    <a class="carousel-item" href="/cities/search/san+fran"><img src="http://i.imgur.com/907a8Zk.jpg"></a>
    <a class="carousel-item" href="/cities/search/portland"><img src="http://i.imgur.com/Nj8iLAS.jpg"></a>
</div>
