<h2>Travel Easy</h2>
<div class="container home-container">
  <h4><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/cities/search">Search</a> cities to view forecasts and historical weather</h4>
  <h4><i class="fa fa-plane" aria-hidden="true"></i> <a href="/auth/signup">Sign up</a> or <a href="auth/login">log in</a> to save home and destination cities!</h4>
</div>
