.nav-partial{
  display: flex;
  justify-content: space-around;
}

.profile-pic{
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.profile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
