.profile-pic{
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.profile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-partial{
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 50, 50);
  height: 50px;
  color: white;
  position: relative;
  top: 10px;
}

.weather-icon{
  width: 25px;
}

.weather-matrix{
  overflow-x: scroll;
}

.matrixHeader{
  position: absolute;
  background-color: inherit;
  width: 56px;
  height: 81px;
}

.layout-container{
  max-width: 700px;
}

.home-container{
  display: flex;
  flex-direction: column;
}

.carousel-item a{
  width:30px;
  height: 30px;
}

.card-action a{
  display: inline-block;
}

#navbar-fixed{
  z-index: 999;
}

#side-nav{
  width: 200px;
  background-color: whitesmoke;
}
