.profile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-partial{
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 50, 50);
  height: 50px;
  color: white;
  position: relative;
  top: 10px;
}

.language-icons{
  font-size: 16px;
}

.weather-icon{
  width: 25px;
}

.weather-matrix{
  overflow-x: scroll;
}

.matrixHeader{
  position: absolute;
  background-color: inherit;
  width: 56px;
  height: 81px;
}

.layout-container{
  max-width: 700px;
}

.home-container{
  display: flex;
  flex-direction: column;
  padding: 3vh;
  font-size: 3vh;
}


.card-action a{
  display: inline-block;
}

#navbar-fixed{
  z-index: 999;
}

#side-nav{
  width: 200px;
  background-color: whitesmoke;
}

.parallax-container {
  height: 20vh;
 }

footer.page-footer{
  margin-top: 0px;
}

.parralax-img{
  width: 140vw;
}

.profile-pic{
  height: 100px;
  width: 100px;
}

#editPic{
  position: absolute;;
  bottom: 22px;
  left: 104px;
  color: white;
}

#profile-card{
  height: 100px;
  width: 100px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.alert.alert-danger{
  background-color: rgba(175, 0, 0, 0.6);
  color: white;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.alert.alert-success{
  background-color: rgba(0, 175, 0, 0.6);
  color: white;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.top-bar, .top-bar li, .top-bar li a{
  height: inherit;
}

.nav-wrapper form label .fa-search{
  line-height: inherit;
}

.collection.no-border{
  border: none;
}

.small-text{
  font-size: 12px;
}

#modalDatesHistorical, #modalDatesProfile{
  transform: none !important;
  border-radius: 0px;
}

@media only screen and (min-width: 601px){
  #navbar-fixed {
    height: 128px;
  }
}


@media only screen and (max-width: 601px){
  #navbar-fixed {
    height: 112px;
  }
}
