<form method="GET" action="/cities/results" id="search-page">
  <div class="input-field">
    <i class="material-icons prefix">search</i>
    <input type="search" name="search" placeholder='Try "Seattle"' required>
  </div>
</form>
