<div class="container">
  <h1>Cities</h1>

  <form method="POST" action="/cities/search">
    <div class="form-group">
      <label for="city-search">Search for city</label>
      <input class="form-control" name="search"/>
    </div>
    <button type="submit" class="btn btn-success">Search</button>

  </form>

  <hr />

  <% cities.forEach(function(city){ %>
    <div class="well">
      <h5><%- city.name %></h5>
      <button href="#" value="<%- city.l %>" type="submit" class="btn btn-sm btn-success">Add</button>
    </div>
  <% }); %>

</div>
